# Go binary
darwin-exporter

# Build artifacts
*.o
*.a
*.so
dist/
node_modules/

# Test artifacts
*.test
*.out

# Coverage
coverage.txt
coverage.html

# Go module download cache
vendor/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Local config (use .example)
config/darwin-exporter.yml
.env
.env.*
!.env-example

# Ignore all dot-directories except .github
.*/
!.github/
!.husky/pre-commit

ISSUES.md
TODO.md
